<app-sidepanel-container #sidepanel>
  <app-sidepanel #spStart>
    <h1>Side Panel</h1>

    <button (click)="spStart.close()">Close me</button>

    <h2>Open related:</h2>

    <button (click)="spEnd.open()">Open Related</button>
  </app-sidepanel>

  <app-sidepanel #spEnd [position]="'end'">
    <h1>Side Panel</h1>

    <button (click)="spEnd.close()">Close me</button>
  </app-sidepanel>

  <app-filler></app-filler>
</app-sidepanel-container>

<footer>
  <button (click)="spStart.toggle()">TOC</button>
  <button (click)="sidepanel.closeActivePanel()">DOC</button>
  <button (click)="spEnd.toggle()">RELATED</button>
</footer>
