:host {
  position: relative;
  transition: opacity .5s;
  will-change: opacity;
  display: block;
  overflow: hidden;

  &.hasBackdrop .content::after {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .4);
    opacity: 1;
    pointer-events: auto;
    z-index: 9;
  }

}
