:host {
  background: wheat;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  transition: transform 0.3s cubic-bezier(0, 0, 0.3, 1);
  z-index: 10;

  &.start {
    transform: translateX(-100%);
  }

  &.end {
    transform: translateX(100%);
  }

  &.opened {
    transform: inherit;
  }
}
